img{
    border-radius: 10px;
}
*{
    box-sizing: border-box;
}
.row{
    display: flex;
    height: 350px;
}
.column-2{
    width: 50%;
    height: 350px;
}
.column-4{
    width: 25%;
    height: 350px;
    color: white;
    background-color: black;
}
.estilos{
    height: 350px;
}
@media screen and (max-width:600px){
    .column-2{
        flex-direction: row;
        width: 100%;
        color: white;
    }
    .column-4{
        width: 50%;
    }
    .column-3{
        width: 100%;
    }
}