body{
    margin: 15%;
    margin-top: auto;
}
img{
    margin: 20px;
    border-radius: 10px;
    width: 50%;
}
*{
    box-sizing: border-box;
}
.titulo{
    display: block;
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    height: 350px;
}
.row{
    display: flex;
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}
.column-2{
    width: 50%;
    height: 350px;
    display: flex;
    background-color: red;
}
.column-4{
    width: 25%;
    height: 350px;
    color: white;
    background-color: black;
}
.estilos{
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
@media screen and (max-width:600px){
    .column-2{
        flex-direction: row;
        width: 100%;
        color: white;
    }
    .column-4{
        width: 50%;
    }
    .column-3{
        width: 100%;
    }
}